<md-content id="jumbo" class="section" layout="column" layout-align="start center">
    <span class="logo">The Park</span>
    <span class="subtitle white-text">Make it your own</span>
    <br>
    <div layout="row">
        <div flex="50">
            <md-button class="md-raised transparent" ng-click="showLogin($event, 0)">Sign In</md-button>
        </div>
        <div flex="50">
            <md-button class="md-raised transparent" ng-click="showLogin($event, 1)">Join</md-button>
        </div>
    </div>
</md-content>
<md-content id="content-1" class="section" layout="column" layout-align="start center">
    <span class="title">School, made easy</span>
    <span class="description">In an increasingly paperless world, technology makes our lives easier every day. We believe schoolwork should be just as easy to create, manage, and share.</span>
    <img id="devices" ng-src="https://i.imgur.com/OVf8FDr.png">
</md-content>